    *{
        margin: 0;
        padding: 0;
    }
    body {
        margin: 0;
        box-sizing: border-box;
      }
  
      /* CSS for header */
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #4684c6;;
      }
      .nav-items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #4684c6;;
        margin-right: 20px;
        margin: 0.5%;
      }
      .dropbtn {
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        background-color: #4684c6;;
      }
      .header .logo {
       
        margin-left: 20px;
      
      }
  
      
  
      .nav-items a {
        text-decoration: none;
        color: white;
        padding: 35px 20px;
      }
  
      /* CSS for main element */
      .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        /*height: 100px;*/
        /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%); */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
  
      .intro h1 {
        font-family: sans-serif;
        font-size: 60px;
        color: #fff;
        font-weight: bold;
        text-transform: uppercase;
        margin: 5%;
      }
  
      .intro p {
        font-size: 20px;
        color: #d1d1d1;
        text-transform: uppercase;
        margin: 20px 0;
      }
  
      .intro button {
        background-color: #5edaf0;
        color: #000;
        padding: 10px 25px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
      }
  
      .achievements {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px 80px;
      }
  
      .achievements .work {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
      }
  
      .achievements .work i {
        width: fit-content;
        font-size: 50px;
        color: #333333;
        border-radius: 50%;
        border: 2px solid #333333;
        padding: 12px;
      }
  
      .achievements .work .work-heading {
        font-size: 20px;
        color: #333333;
        text-transform: uppercase;
        margin: 10px 0;
      }
  
      .achievements .work .work-text {
        font-size: 15px;
        color: #585858;
        margin: 10px 0;
      }
  
      .about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 80px;
        border-top: 2px solid #eeeeee;
      }
  
      .about-me img {
        width: 500px;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
      }
  
      .about-me-text h2 {
        font-size: 30px;
        color: #333333;
        text-transform: uppercase;
        margin: 0;
      }
  
      .about-me-text p {
        font-size: 15px;
        color: #585858;
        margin: 10px 0;
      }
  
      /* CSS for footer */
      .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #302f49;
        padding: 40px 80px;
      }
  
      .footer .copy {
        color: #fff;
      }
  
      .bottom-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px 0;
      }
  
      .bottom-links .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
      }
  
      .bottom-links .links span {
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        margin: 10px 0;
      }
  
      .bottom-links .links a {
        text-decoration: none;
        color: #a1a1a1;
        padding: 10px 20px;
      }
  .space{
      padding: 150px 150px;
  }
  .img{
    width: 200px;
    height: 70px;
    margin-left: 100px;
    
  }
  .echa_logo{
    width: 200px;
    height: 90px;
  }
  

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color :#6946c6;;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: black;}

  .down{
    margin-top: 6%;
  }
  .box{
    background-color: #a1a1a1;
  }


  .DictionaryBox{
    
    background: url('./images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 850px;
  
  }

  .DictionaryBox .dictContent{
  
        width: 90%;
        height: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(98, 125, 144, 0.374);
        border-radius: 1%;
    }
    
  .b{
    background: green;
    width: 100%;
    height: 10px;
  }
  .search{
    margin-top: 15%;
    margin-left: 10%;
    color: white;
    
  }
  body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.container1 {
  background: url('./images/fotor.jpg');

  background-color: rgba(100, 125, 144, 0.374);

  padding: 20px;
}
.container2 {
  margin-left: 10%;
  margin-right: 25%;
  border-radius: 5px;
  background-color: rgba(100, 125, 144, 0.374);
  background-blend-mode: lighten;
 
 }
 .container3{
  background-color: rgba(106, 131, 150, 0.374);
  border-radius: 10px;
 
 }
 .container4{
 
  margin-right: 57%;
  
  
  background-color: #b5bfcb;
 }
 .icontainer {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  
  background-color: rgba(162, 159, 211, 0.374);
  background-blend-mode: lighten;
 
 }
.bg{
  margin-bottom: 55px;
  background: url('./images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 600px;

  border-radius: 1%;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #000;
}

td, th {
  border: 1px solid #070707;
  text-align: left;
  padding: 10px;
  
 
}


.button {
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
.dbutton {
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
 margin-left: 30%;
}
.b1 {background-color: #4684c6;}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
.bb{
  margin-left: 80%;
}
.tbg{
  margin-left: 25%;
  margin-right: 25%;

  
}

.c-color {
  background-color: rgb(139, 172, 221);;
}

/* .c-color:hover {
  background-color: rgb(255, 255, 255);
} */

* {



  box-sizing: border-box;



}



.openBtn {



  display: flex;



  justify-content: left;



}



.openButton {



  border: none;



  border-radius: 5px;



  background-color: #1c87c9;



  color: white;



  padding: 14px 20px;



  cursor: pointer;



  position: fixed;



}



.loginPopup {



  position: relative;



  text-align: center;



  width: 100%;



}



.formPopup {



  display: none;



  position: fixed;



  left: 50%;



  top: 5%;



  transform: translate(-50%, 5%);







 

}



.formContainer {




  background-position: center;

  border-radius: 2%;

  width:200px ;

  height: 200px;

  background-color: #fff;



}



.formContainer .btn {



  padding: 12px 20px;



  border: none;



  background-color: #8ebf42;



  color: #fff;



  cursor: pointer;



  width: 100%;



  margin-bottom: 15px;



  opacity: 0.8;



}



.formContainer .cancel {



  background-color: #cc0000;



}