<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> HomePage</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <style >
        table, th, td {
        border: 1px solid black;
        }
  </style>
</head>

<body class="tbg">

 <div id="htmlContent">

    <table id="tblCustomers" style="background-color: rgb(252, 252, 252); width: 100%; font-size: 10 em; border = 3px;">
        <tr align="center" >
            <th rowspan="2"> <img  height="80" src="../static/images/airbus.jpg" width="100"></th>
            
            <th style="padding:2.5px;" colspan="4"><b>EHS PRE-ASSESSMENT</b></th>
            <th style="padding:2.5px">ES</th>
            <th style="padding:2.5px"colspan="4">&nbsp;&nbsp;</th>
        </tr>
        <tr>
            <th>Issue</th>
            <th>1</th>
            <th>&nbsp</th>
            <th>TRANS-PASS</th>
            <th colspan="2">&nbsp&nbsp2018-&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4947  </th>
        <th>&nbsp</th>
        </tr>
        <tr><th colspan="8">ref.FM120609v4draft1</th>
           
        </tr>
        <tr>
            <th colspan="8"><b>PRODUCT AND PROCESS INFORMATION</b></th>
        </tr>
        <tr>
            <th colspan="2">Qualification Project <br> Leader</th>
            <th colspan="">Audrey BENABEN</th>
            <th colspan="">Singlum</th>
            <th colspan="">ESCMA3</th>
            <th colspan="">Pre-Assessment Request Date</th>
            <th colspan="2">&nbsp&nbsp</th>
            
        </tr>
        <tr>
            <th colspan="2">Tital of the Technical<br> Qualification</th>
            <th colspan="3">OWA validation for light Flextrack on frame 53.3</th>
            <th colspan="">NHSC responsible</th>
             <th colspan="2">F</th>
        </tr>
        <tr>
            <th colspan="8"><B>Trade Name</B></th>
        </tr>
        <tr align="center" >
            <th style="padding:2.5px; width: 10%;" rowspan="3">Number of <br>Components</th>
            <th style="padding:2.5px; width: 5%;" rowspan="3">3</th>
            
            <th style="padding:2.5px;" colspan="">Name Main<br>Component</th>
            <th style="padding:2.5px">Sealants as per PQ10010-020-00 PQ10010-144-00 PR1782C24, PR 436C2-C4, PR17B2C4(BASE+hardener)</th>
            <th style="padding:2.5px">SDS Dateor or relevent Information for articales</th>
            <th style="padding:2.5px" colspan="3">Several</th>
        </tr>
        <tr align="center">
           <th style="padding:2.5px;" colspan="">Name Main<br>Component</th>
           <th style="padding:2.5px">Sealants as per PQ10010-020-00 PQ10010-144-00 PR1782C24, PR 436C2-C4, PR17B2C4(BASE+hardener)</th>
            <th style="padding:2.5px">SDS Dateor or relevent Information for articales</th>
            <th style="padding:2.5px" colspan="3">Several</th>
        </tr>
        <tr align="center">
            <th style="padding:2.5px;" colspan="">Name Main<br>Component</th>
            <th style="padding:2.5px">Clearing AIPS09-01-002 AND APIS09-01-002</th>
            <th style="padding:2.5px">SDS Dateor or relevent Information for articales</th>
             <th style="padding:2.5px" colspan="3">Several</th>
        </tr>
         <tr>
            <th colspan="8"><B>OTHER INFORMATION</B></th>
        </tr>
        <tr>
           <th style="padding:2.5px;" colspan="">Description of the product (ABS, AIMS)</th>
            <th style="padding:2.5px" colspan="3">SOL FOR PER FIX REVENT INT C53.3.L1-L18G FLEX NEO </th>
            <th style="padding:2.5px">Materials / Aircraft</th>
            <th style="padding:2.5px" colspan="3">PROCESS</th>
        </tr>
        <tr>
           <th style="padding:2.5px;" colspan="">Programme requestor</th>
            <th style="padding:2.5px" colspan="3">LR- NEO </th>
            <th style="padding:2.5px">Working Technique :</th>
            <th style="padding:2.5px" colspan="3">&nbsp;</th>
        </tr>
        <tr>
           <th style="padding:2.5px;" colspan="2">Request Origin</th>
            <th style="padding:2.5px" colspan="2">Manufacturing </th>
            <th style="padding:2.5px" rowspan="2">Comment </th>
            <th style="padding:2.5px" colspan="2" rowspan="2">&nbsp;</th>
        </tr>
        <tr>
           <th style="padding:2.5px;" colspan="2" rowspan="2">Description of the Reason</th>
            <th style="padding:2.5px" colspan="2"  rowspan="2">New drilling system; COst saving  </th>
            
            <th style="padding:2.5px" colspan="">&nbsp;</th>
        </tr>
        <tr>
           <th style="padding:2.5px;" colspan="" rowspan="">Process  related </th>
           
            <th style="padding:2.5px" colspan="" rowspan="">&nbsp;</th>
            <th style="padding:2.5px" colspan="2">&nbsp;</th>
        </tr>
        <tr>
           <th style="padding:2.5px;" colspan="2">Site targeted for material use</th>
            <th style="padding:2.5px" colspan="2">All Site  </th>
            <th style="padding:2.5px" rowspan="">Replacement for </th>
            <th style="padding:2.5px" colspan="3">&nbsp;</th>
        </tr>
        <tr>
            <th colspan="8"><B>MANUFACTURER</B></th>
        </tr>
        <tr>
           <th style="padding:2.5px;" colspan="">Manufacturer's Name</th>
            <th style="padding:2.5px" colspan="3">Several </th>
            <th style="padding:2.5px">Manufacturer's Sites <br>(Address)</th>
            <th style="padding:2.5px" colspan="3">&nbsp;</th>
        </tr>
        <tr>
           <th style="padding:2.5px;" colspan="">Contact</th>
            <th style="padding:2.5px" colspan="3">&nbsp; </th>
            <th style="padding:2.5px">E-Mail</th>
            <th style="padding:2.5px" colspan="3">&nbsp;</th>
        </tr>
        <tr>
           <th style="padding:2.5px;" colspan="">Post</th>
            <th style="padding:2.5px" colspan="3">&nbsp; </th>
            <th style="padding:2.5px">Tel / Tax</th>
            <th style="padding:2.5px" colspan="3">&nbsp;</th>
        </tr>
        <tr>
            <th colspan="8"><B>OVERALL EHS PRE-ASSESSMENT</B></th>
        </tr>
        <tr style="background-color: rgb(208, 219, 55);" align="center">
            <th style="padding:2.5px; height:70px" colspan="8" ><B>H - High risk - possibility to have a NHSc refusal</B></th><br>
        </tr>
        </table>
         </div><br>

        <div style="width:99%">
            <input type="button" id="btnExport" value="Download Pdf" onclick="Export()" style="width: 100%; height: 100%;" />
        </div>
</body>

</html>
<script src="../static/search.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script type="text/javascript">
