<!DOCTYPE html>
<html>
<body>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> HomePage</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="../static/style.css">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <style>
         
        </style>
      </head>
      
      <body >
        <header class="header">
          <a href="#" class="logo"><img src="../static/images/echa1.png" class="echa_logo"></a>
          <nav class="nav-items">
            <div class="down">
            <a href="/index">Home </a>
            <a href="/contact">Contact</a>     
          <!-- ExpleoLogo -->
          <img src="../static/images/expleo.png" class="img">
          </nav>
        </header>

        <div>&nbsp; <!-- Blanck space aftr head --></div>

            
                   
                
                  </div>
                  <div class="container1">
                    <div class="container2">
                      <h1 style="color: rgb(255, 255, 255); " >Search Data </h1>
                      <input type="search" id="search" placeholder="eg. Enter Data Value;" style="width: 350px; padding:5px;"/>
                      <button type="button" onclick = ""  style="width: 150px;padding:5px;" >Search</button>




                     <b> <table style="color: rgb(255, 255, 255);" class="container3" id="highlights">
                        <tr>
                          <th>Column 1</th>
                          <th>Column 2</th>
                          <th>Column 3</th>
                          <th style="width: 10%;"></th>
                          
                        </tr>
                        <tr >
                          <td>Row 1</td>
                          <td>Row 1</td>
                          <td>Row 1</td><br><br>
                          <td><button class="btn btn-dark"  id="1" onclick="showTableData(1)"> Add </button></td>
                        </tr>
                        <tr>
                          <td>Row 2</td>
                          <td>Row 2 </td>
                          <td>Row 2</td>
                          
                          <td> <button class="btn btn-dark" id="2" onclick="showTableData(2)"> Add </button></td>
                        </tr>
                        <tr>
                          <td>Row 3</td>
                          <td>Row 3 </td>
                          <td>Row 3</td>
                          
                          <td><button class="btn btn-dark" id="3" onclick="showTableData(3)"> Add </button></td>
                        </tr>
                        <tr>
                          <td>Row 4</td>
                          <td>Row 4 </td>
                          <td>Row 4</td>
                         
                          <td><button class="btn btn-dark" id="4" onclick="showTableData(4)"> Add </button></td>
                        </tr>
                        <tr>
                          <td>Row 5</td>
                          <td>Row 5</td>
                          <td>Row 5</td>
                         
                          <td><button class="btn btn-dark" id="5" onclick="showTableData(5)"> Add </button></td>
                        </tr>
                        
                       
                      </table>
                      </b><br>
              
                <div  class="container4">
                  <div  id="tblCustomers" cellspacing="20" cellpadding="10">
                     <p id="info"></p>
                 </div>
               </div>
               <button class="btn btn-dark"> Trasfer </button>
                <button class="btn btn-dark"> Open </button>
                <button id="btnExport" class="btn btn-dark"  onclick="Export()"> Download </button>
               </div>
            
            </div>
                  

                  
               
 
          <div>&nbsp; <!-- Blanck space aftr head --></div>





    
<!-- Footer  -->
  <footer class="footer">
    <div class="copy">&copy; 2023 Developer</div>
    <div class="bottom-links">
      <div class="links">
        <span>More Info</span>
        <a href="#">Home</a>
        <a href="">About</a>
        <a href="#">Contact</a>
      </div>
      <div class="links">
        <span>Social Links</span>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>
</body>
</html>

<script>
    
    var tab = document.getElementById("highlight");

    if(tab){
      for(var i = 0; i < tab.rows.lenght; i++){
      table.rows[i].onclick = function() {
      tableText(this);
      }
    }

    }

  function showTableData(val) {

  var objCells = document.getElementById("highlights").rows.item(val).cells;

  for (var j = 0; j < objCells.length - 1; j++) {
                info.innerHTML = info.innerHTML + ' ' + objCells.item(j).innerHTML;
            }
            info.innerHTML = info.innerHTML + '<br />';

            document.getElementById(val).disabled = true;

}

</script>  

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script type="text/javascript">
    function Export() {
        html2canvas(document.getElementById('tblCustomers'), {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("Table.pdf");
            }
        });
    }
</script>